* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: hsl(47, 88%, 63%);
    --card-background: hsl(0, 0%, 100%);
    --paragraph-text: hsl(0, 0%, 42%);
    --text: hsl(0, 0%, 7%);
}

body {
    background-color: var(--background);
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 100dvh;
gap: 3rem;

}

#card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--card-background);
    width: 384px;
    height: 565px;
    box-shadow: 8px 8px 0 black;
    padding: 1.2rem;
   
}


 
#ilustrace-img-container {
    display: flex;
    align-items: center;
    justify-content: center;  
}

#ilustrace-img-container img {
border-radius: 10px;

} 
.text-karty {
  
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tag {
    color: var(--text);
    background-color: var(--background);
    display: inline-box;
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    border-radius: 4px;
    font-size: 0.875rem;
}

.publishing-date {
    font-size: 0.875rem;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
color: var(--background);
curosr: pointer;
}

h2 {

    font-size: 1.5rem;
}

.info {
    color: var(--paragraph-text);

    line-height: 1.7rem;
}

#author-container {
    display: flex;
   
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}



.author {
    color: var(--text);
    font-weight: bold;
}

.attribution {
    text-align: center;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
    #card {
    width: 288px;
    height: 424px;
}
    #ilustrace-img-container img {
    border-radius: 10px;
    width: 100%;
 }   

#author-container {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

 .icon {
    transform: scale(0.6);

 }

 
}

@media (max-width: 480px)  {
  html {
    font-size: 15px;
  }
    #card {
    width: 288px;
height: 424px;

}
    #ilustrace-img-container img {
    border-radius: 10px;
    width: 100%;
 }   

#author-container {
    display: flex;
   
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

 .icon {
    transform: scale(0.6);

 }

 .text-karty {
  
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

 

 .info {
    color: var(--paragraph-text);

    line-height: 1.3rem;
}
 
}
   



